@page "/"

<h1>Mortgage Management Calculator</h1>
<h2></h2>
<h3>Welcome to Mortgage Management Calculator.</h3>

<br />
<h1></h1>
<b><p>The Mortgage Calculator takes your total amount,<br>deposite percentage,term (in years), and interest rate.
                It then<br> calculates your Deposite Payment, Monthly Payment <br>Total Amount with Interest.<br>
                </p></b>
